version: '3.5'

networks:
  web-transport:
    external: true
    name: web-transport
  ldap:
    external: true
    name: ldap
  logging:
    external: true
    name: logging
  auth:

volumes:
  mysql:
    driver: local

services:
  app:
    image: registry:443/php:7.2.13-dev-r1
    volumes:
      - ./vhost.conf:/etc/apache2/sites-enabled/000-default.conf
      - ${APP_CODE}:/var/www
    environment:
      - XDEBUG_REMOTE_HOST=${XDEBUG_REMOTE_HOST}
      - PHP_IDE_CONFIG=${PHP_IDE_CONFIG}
    extra_hosts:
      - "admin.local.lan:127.0.0.1"
      - "graylog-server:192.168.1.10"
    networks:
      auth:
      ldap:
      web-transport:
        aliases:
          - admin.local.lan
          - admin.app.internal
      logging:
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: udp://localhost:12201

  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=admin
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=s3cure
      - MYSQL_ROOT_PASSWORD=s3cure
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - auth
    ports:
      - 3306:3306
    restart: unless-stopped

  redis:
    image: redis:latest
    networks:
      - auth
    restart: unless-stopped
